
.btn{
background-color:grey;
color:white;
border-radius:360px;
margin-top:50px;
margin-bottom:200px;
font-weight:100}

.top{
text-align: center;
font-weight:100;
margin-bottom:30px;}

.top h1{
    margin-top:160px;
    color:grey;
    margin-bottom:100px;
    text-align:center;}

.top h1 p{
font-size:50px;
font-weight:100;
text-align:center;}

img{border-radius:300px;}

h2{
font-weight:100;
color: grey;
text-align:center;
font-size: 40px;
margin-top:30px;}

h4{
font-weight:200;
text-align:center;
font-size: 21px;
margin-top:5px;}

p{
    margin-top:30px;
    font-weight:100;
    padding:2px;
    font-size:15px;}

.image{text-align: center;}
.image img{
    border:solid grey 1px;
    background-color:white;
    padding:12px;}

.dropdown{
    width:50%;
    margin-top:120px;
    margin-bottom:120px;}
        
.dropdown :hover{cursor:pointer}
        
.dropdown-toggle{
            width:100%;
            background-color:grey;
            color:white;
            border: white solid 1px;
            font-weight:100;
            height:50px;
            margin-bottom:50px;}
        
.dropdown-menu{ width:100%;
                font-size:10px;
                background-color:white;
                padding:13px;
                height:300px;
                border:solid 5px white;}
    
.dropdown-menu li i{
            color:grey;
            font-size:9px;
            float:right;
            font-weight:100;}
        
.dropdown-menu li img{
            background-color:grey;
            border-radius:300px;
            margin:20%;
            margin-top:70%;
            margin-bottom:10px;
            height:20px;}

.dropdown-menu li img:hover{background-color:lightblue}    

*, *:before, *:after{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing: border-box;}
  
  .content {
    position: relative;
    margin: auto;
    overflow: hidden;}

  .content-details {
    position: absolute;
    opacity: 0;
    top:50%;
    left:50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: -50%;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    transition: 0.3s ease-in-out;}
  
  .content:hover .content-details{
top:50%;
left: 50%;
opacity: 1;
cursor:pointer;}

  .fadeIn-bottom{top: 90%;}

  .copyright{
      background-color:white;
      color:gray;
      text-align:right;
      margin-right:-13px;
      font-weight:100;}

@media (min-width: 400px) and (max-width:992px) { 
    .image img{ 
        width:330px;
        height:330px;}

    .dropdown-menu li img{height:35px;}}   
    
@media (min-width: 992px) { 
    .dropdown-menu{
        padding:20px;
        font-size:15px;
        width:100%;}
    .dropdown-menu li i{font-size:13px;}
    .dropdown-menu li img{height:45px;}

    .image img{ 
        width:400px;
        height:400px;}
    
    h1{
        font-size:50px;
        text-align:center;}
    
    h2{
        font-size:45px;
        text-align:left;
        margin-top:-10px;}

    h3{font-size:37px;
        font-weight:100}

    h4{font-size:25px;
        text-align:left;}

    p{text-align:left;}}
    