
.btn{
background-color: gray;
color:white;
border-radius:360px;
margin-top:30px;
margin-bottom:200px;
font-weight:100;
border:solid 5px gray}

.btn:hover{
background-color: lightgrey;
border:lightgrey 5px solid;
transition-duration: 0.2s;}

.navbar{
background-color: rgba(128, 128, 128, 0.30);
height:auto;
position: fixed;
width:100%;
margin:0px;}

.navbar img{
width:25px;
border-radius:none;
float:right;
text-align:right;
margin-right:30px;}

.navbar img:hover{
    cursor:pointer;
    width:27px;
margin-top:-2px;}

.top{
text-align: center;
font-weight:100;
margin-bottom:30px;}

.top h1{
    margin-top:160px;
    color: slategray;
    margin-bottom:100px;
    text-align:center;}

.top h1 p{
font-size:50px;
font-weight:100;
text-align:center;}

h2{
font-weight:100;
color: slategray;
text-align:center;
font-size: 40px;
margin-top:30px;}

h4{
font-weight:200;
text-align:center;
font-size: 21px;
margin-top:5px;}

p{
    margin-top:40px;
    font-weight:100;
    padding:2px;
    font-size:15px;}

.image{text-align: center;}
.image img{
    border:solid grey 1px;
    background-color:white;
    padding:12px;
    border-radius:300px;}

.dropdown{
    width:50%;
    margin-top:160px;
    margin-bottom:160px;}
        
.dropdown :hover{cursor:pointer}
        
.dropdown-toggle{
            width:100%;
            background-color: rgba(128, 128, 128, 0.50);
            color:white;
            border: white solid 1px;
            font-weight:100;
            height:50px;
            margin-bottom:50px;}

.dropdown-toggle:hover{
                background-color:lightslategrey;
                transition-duration: 0.2s
            }
        
.dropdown-menu{ width:100%;
                font-size:10px;
                background-color:white;
                padding:13px;
                height:140px;
                font-weight: 100;
                color:gray;
				overflow-y:scroll;
                border:solid 1px whitesmoke}

.dropdown-menu li{
	border-bottom: dashed 1px whitesmoke;
	margin-bottom:1px;}

.dropdown-menu li i{
            color: lightgrey;
            font-size:9px;
            float:right;
            font-weight:100;}
      
.dropdown-menu img{
            background-color:grey;
            border-radius:300px;
            margin:22%;
            margin-top:80%;
            margin-bottom:10px;
            height:20px;}

.dropdown-menu img:hover{background-color:lightblue;}    

*, *:before, *:after{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing: border-box;}
  
  .content {
    position: relative;
    margin: auto;
    overflow: hidden;}

  .content-details {
    position: absolute;
    opacity: 0;
    top:50%;
    left:50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: -50%;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    transition: 0.3s ease-in-out;}
  
  .content:hover .content-details{
top:50%;
left: 50%;
opacity: 1;
cursor:pointer;}

  .fadeIn-bottom{top: 90%;}

  .copyright{
      background-color:white;
      color:gray;
      text-align:right;
      margin-right:-13px;
      font-size:11px;
      font-weight:100;}

#midden{
    margin-bottom:100px;
    color:white;}

@media (min-width: 400px) and (max-width:992px) { 
    .image img{ 
        width:330px;
        height:330px;}

    .dropdown-menu img{height:35px;}}  
    
@media (min-width: 992px) { 
    .dropdown-menu{
        padding:20px;
        font-size:15px;
        width:100%;}
    .dropdown-menu li i{font-size:13px;}
    .dropdown-menu img{height:35px;}

    .image img{ 
        width:400px;
        height:400px;}
    
    h1{
        font-size:50px;
        text-align:center;}
    
    h2{
        font-size:45px;
        text-align:left;
        margin-top:-10px;}

    h3{font-size:37px;
        font-weight:100}

    h4{font-size:25px;
        text-align:left;}

    p{text-align:left;}}
    